:root{
    --beige-background: rgba(255,180,90, 0.2);
}
@font-face {
    font-family: 'DMsans-regular';
    src: url(./downloads/DMSans-Regular.ttf);
}
/* create metallic gradient for logo-text background */
html,
body,
legend {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

legend, 
p {
    font-family: 'DMsans-regular';
    font-weight: bold;
}

#container {
    display: flex;
    /* border: 1px solid black; */
}

#logo-container {
    position: relative;
    height: 100vh;
    width: 70%;
    /* border: 1px solid blue; */
}

#logo-container .logo-text {
    /* background-color: var(--beige-background); */
    position: absolute;
    font-family: 'DMsans-regular';
    font-weight: 500;
    font-size: larger;
    top: 50px;
    left: 40px;
    width: 100%;
}

/* .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
} */

img {
    height: 100vh;
    max-width: 100%;
}

.attribution {
    display: flex;
    justify-content: center;
}

.attribution a {
    color: black;
    position: absolute;
    bottom: 2px;
}

#form-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    /* border: 1px solid red; */
}

fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    gap: 50px;
}

.form-content:nth-child(2){
    box-shadow: 3px 5px 8px lightgray;
}

.form-content p,
.form-content span,
legend, 
fieldset, 
button, 
p {
    margin-left: 40px;
}

.form-content p {
    padding-top: 80px;
    font-family: 'DMsans-regular';
    font-size: 15px;
    font-weight: 500;
}

.form-content legend 
 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-label {
    font-family: 'DMsans-regular';
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 15px;
}

input {
    width: 200px; 
    margin: 0;
    padding: 0;
}

input:hover,input:focus {
    outline: 1px solid blue;
}

.form-content button {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 175px;
    height: 40px;
    border-radius: 6px; 
}