:root{
    --beige-background: rgba(255,180,90, 0.4)
}
html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    /* border: 1px solid black; */
}

#logo-container {
    position: relative;
    height: 100vh;
    width: 60%;
    border: 1px solid blue;
}

#logo-container .logo-text {
    background-color: var(--beige-background);
    position: absolute;
    bottom: 150px;
    width: 100%;
}

.attribution {
    display: flex;
    justify-content: center;
}

.attribution a {
    color: black;
    position: absolute;
    bottom: 2px;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100vh;
    max-width: 100%;
}

.form-field:nth-child(2){
    background-color: rgba(210,200,190,0.1);
    box-shadow: 3px 5px 8px lightgray;
}

#form-container {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
}

.form-field {
    height: 33%;
    /* border: 1px solid green; */
}

input[type="password"]:invalid {
    background-color: rgba(255,170,190,0.3);
}

input:hover {
    border: 1px solid black;
}