:root{
    --custom-beige: rgba(125,70,0, 0.7);
}

@font-face {
    font-family: 'DMsans-regular';
    src: url(./downloads/DMSans-Regular.ttf);
}

html,
body,
legend {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

legend, 
p {
    font-family: 'DMsans-regular';
    font-weight: bold;
}

#container {
    display: flex;
}

#logo-container {
    position: relative;
    height: 100vh;
    width: 70%;
}

#logo-container .logo-text {
    position: absolute;
    font-family: 'DMsans-regular';
    font-weight: 500;
    font-size: larger;
    top: 50px;
    left: 40px;
    width: 100%;
}

img {
    height: 100vh;
    max-width: 100%;
}

.attribution {
    display: flex;
    justify-content: flex-end;
}

.attribution a {
    font-size: smaller;
    color: black;
    position: absolute;
    bottom: 2px;
}

#form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    gap: 50px;
}

.form-content:nth-child(2){
    box-shadow: 3px 5px 10px var(--custom-beige);
}

.form-content p,
.form-content span,
legend, 
fieldset, 
button, 
p {
    margin-left: 40px;
}

.form-content p {
    padding-top: 80px;
    font-family: 'DMsans-regular';
    font-size: 15px;
    font-weight: 500;
}

.form-content legend 
 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-label {
    font-family: 'DMsans-regular';
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 15px;
}

input {
    width: 200px; 
    margin: 0;
    padding: 0;
}

input:hover,input:focus {
    outline: 1px solid var(--custom-beige);
}

button:hover, button:focus {
    outline: 1px solid var(--custom-beige);
}

.form-content button {
    background-color: var(--custom-beige);
    border: var(--custom-beige);
    color: rgba(255, 255, 255, 0.928);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 175px;
    height: 40px;
    border-radius: 6px; 
}

footer a:hover, a:focus {
    font-size: large;
    outline: 1px solid var(--custom-beige);
}

footer a {
    color: var(--custom-beige);
}